<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %>

<!-- Begin Page Content -->
<div class="container-fluid">

  <% if (error.length > 0) { %>
    <div class="btn btn-user btn-block alert alert-danger" role="alert"><%= error %></div>
    <% } %>

    <% if (success.length > 0) { %>
      <div class="btn btn-user btn-block alert alert-success" role="alert"><%= success %></div>
      <% } %>

    <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Change Password</h1>

  <div id="auth-section" class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 id="auth-form-title" class="m-0 font-weight-bold text-primary">
        Change Your Password
      </h6>
    </div>
    <div class="card-body">
      <form id="auth-form" action="/profile/auth/<%= user.userid %>" method="POST">
        <div class="form-group row">
          <label for="old-password" class="col-sm-2 col-form-label">Old Password</label>
          <div class="col-sm-10">
          <input
              name="oldPassword"
              type="password"
              class="form-control"
              id="old-password"
              placeholder="Old Password"
              value=""
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="new-password" class="col-sm-2 col-form-label"
            >New Password</label
          >
          <div class="col-sm-10">
            <input
              name="newPassword"
              id="new-password"
              type="password"
              class="form-control"
              placeholder="Insert new password"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="retype-password" class="col-sm-2 col-form-label"
            >Retype Password</label
          >
          <div class="col-sm-10">
            <input
              name="retypePassword"
              id="retype-password"
              type="password"
              class="form-control"
              placeholder="Retype your new password"
              required
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        id="save-btn"
        form="auth-form"
        type="submit"
        class="btn btn-success btn-icon-split"
      >
        <span class="icon text-white-50">
          <i class="fas fa-database"></i>
        </span>
        <span class="text">Update</span>
      </button>
    </div>
  </div>
</div>
</div>

<!-- End of Main Content -->
<%- include('../layouts/footer') %> 