<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Sales</h1>
                    <p>This is data of Sales</p>

<%- include('./list') %> 

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Begin Delete Modal -->
            
<%- include('../layouts/modal') %> 

            <!-- End of Delete Modal -->

            <script>
                
            $(document).ready(function() {
             const operatorId = '<%= user.userid %>'

            /*############## MAIN PAGE ##############*/
                // Read datatable Main Page
                    $('#saleList').DataTable({
                        "lengthMenu": [[3, 10, 100, -1],[3, 10, 100]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/sales/table",
                        "columns": [
                            {'data': 'invoice'},
                            {
                                'data': 'time',
                                'render': function(data) {
                                    return moment(data).format('DD MMM YYYY HH:mm:ss')
                                }
                            },
                            {
                                'data': 'totalsum',
                                'render': function(data) {
                                    return currencyFormatter.format(data)
                                }
                            },
                            {
                                'data': 'pay',
                                'render': function(data) {
                                    return currencyFormatter.format(data)
                                }
                            },
                            {
                                'data': 'change',
                                'render': function(data) {
                                    return currencyFormatter.format(data)
                                }
                            },
                            {'data': 'name'},
                            {
                                'data': 'invoice',
                                'orderable': false,
                                'render': function(data, row, meta) {
                                    if (meta.operator == operatorId) {
                                        return `<a href="/sales/transaction/${data}" class="btn btn-success btn-circle anchor_edit"><i class="fas fa-info-circle"></i></a>  <a data-id="${data}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle anchor_remove"><i class="fas fa-trash"></i></a>`
                                    } else {
                                        return `<a href="/sales/transaction/${data}" class="btn btn-success btn-circle anchor_edit disabled"><i class="fas fa-info-circle"></i></a>  <a data-id="${data}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle anchor_remove disabled"><i class="fas fa-trash"></i></a>`
                                    }
                                }
                            },
                            
                        ]
                    })
                
                // Delete data
                    $('#saleList').on('click', 'a.anchor_remove', function(e) {
                        e.preventDefault()
                        const invoice = $(this).attr('data-id')
                        $('a#delete-confirmation').attr("data-id", invoice)
                    })
                    
            /*############## EVENT ##############*/
                // Delete Confirmation
                    $('a#delete-confirmation').click(function() {
                    const invoice = $(this).attr('data-id')
                    deleteData(invoice)
                })

                })

            /*############## API ##############*/
                //Delete data
                const deleteData = (invoice) => {
                    $.ajax({
                        method: 'DELETE',
                        url: `/sales/transaction/${invoice}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#deleteModal').modal('toggle')
                        
                        $('#saleList').DataTable().clear().ajax.reload()
                        setTimeout(()=> {
                            updateAlert()
                        }, 2000)
                    }).fail(function(error) {
                        console.log('error delete', error);
                        alert('Failure when deleting')
                    })
                }

            </script>

<%- include('../layouts/footer') %> 
