<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Goods</h1>

  <div id="goods-section" class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 id="goods-form-title" class="m-0 font-weight-bold text-primary">
        Form edit
      </h6>
    </div>
    <div class="card-body">
      <form id="goods-form" action="/goods/data/<%= data[0].barcode %>" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="barcode" class="col-sm-2 col-form-label">Barcode</label>
          <div class="col-sm-10">
            <input
              name="barcode"
              type="text"
              class="form-control"
              id="barcode"
              placeholder="Barcode"
              value="<%= data[0].barcode %>"
              required
            />
            <div id="barcode-valid" class="valid-feedback">
              Barcode free to use.
            </div>
            <div id="barcode-invalid" class="invalid-feedback">
              Barcode already used.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              name="name"
              type="text"
              class="form-control"
              id="name"
              placeholder="Name"
              value="<%= data[0].name %>"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="stock" class="col-sm-2 col-form-label">Stock</label>
          <div class="col-sm-10">
            <input
              name="stock"
              type="number"
              class="form-control"
              id="stock"
              placeholder="0"
              value="<%= data[0].stock %>"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="purchase-price" class="col-sm-2 col-form-label"
            >Purchase Price</label
          >
          <div class="col-sm-10">
            <input
              name="purchasePrice"
              type="text"
              class="form-control"
              id="purchase-price"
              placeholder="0"
              value="<%= data[0].purchaseprice %>"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="selling-price" class="col-sm-2 col-form-label"
            >Selling Price</label
          >
          <div class="col-sm-10">
            <input
              name="sellingPrice"
              type="text"
              class="form-control"
              id="selling-price"
              placeholder="0"
              value="<%= data[0].sellingprice %>"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="unit" class="col-sm-2 col-form-label">Unit</label>
          <div class="col-sm-10">
            <select name="unit" class="form-control">
              <% unit.forEach((item) => { %>
              <option value="<%= item.unit %>" <%= item.unit === data[0].unit ? 'selected': '' %>><%= item.name %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="picture" class="col-sm-2 col-form-label">Picture</label>
          <div class="col-sm-10">
            <input
              id="picture"
              name="picture"
              type="file"
              class="form-control"
              placeholder="Picture"
              accept="image/png, image/jpeg"
              value="<%= data[0].picture ? `${data[0].picture}` : '' %>"
            />
          </div>
        </div>
      </form>
        <div id="preview-form" class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Preview</label>
          <div class="col-sm-10">
            <img id="picturePreview" src="<%= data[0].picture ? `/images/goods/${data[0].picture}` : '' %>" alt="No picture" width="300" height="auto">
          </div>
        </div>
    </div>
    <div class="card-footer">
      <button
        id="save-btn"
        form="goods-form"
        type="submit"
        class="btn btn-success btn-icon-split"
      >
        <span class="icon text-white-50">
          <i class="fas fa-database"></i>
        </span>
        <span class="text">Save</span>
      </button>
      <a
        href="/goods"
        class="btn btn-warning btn-icon-split"
        id="back-btn"
      >
        <span class="icon text-white-50">
          <i class="fas fa-undo"></i>
        </span>
        <span class="text">Back</span>
      </a>
    </div>
  </div>
</div>
</div>
<!-- End of Main Content -->

  <script>
    const a = '<%- data[0].picture %>'

    $("document").ready(function () {

      // Preview-Event
      $('#picture').change(function(event) {
        // $('#picture-form').submit()
        const [file] = picture.files
        if (file) {
          $('#preview-form').show()
          console.log((window.URL || window.webkitURL).createObjectURL(file));
          picturePreview.src = URL.createObjectURL(file)
        }
      })

    });
  </script>

<%- include('../layouts/footer') %> 